eMoneyApi/Connected Services/EMoneyService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.emoney.ge/distributors/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" />
  <xs:import schemaLocation="https://api.emoney.ge/distributors/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LB.Shared" />
  <xs:import schemaLocation="https://api.emoney.ge/distributors/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
  <xs:element name="GetServiceGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q1:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="GetServiceGroupsResult" nillable="true" type="q2:ResponseOfArrayOfProviderGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q3:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="GetRatesResult" nillable="true" type="q4:ResponseOfArrayOfRates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q5:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="GetServicesResult" nillable="true" type="q6:ResponseOfArrayOfProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q7:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicePropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="GetServicePropertiesResult" nillable="true" type="q8:ResponseOfServiceProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceParameterReferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q9:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceParameterReferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="GetServiceParameterReferencesResult" nillable="true" type="q10:ResponseOfArrayOfParameterReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q11:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="GetInfoResult" nillable="true" type="q12:ResponseOfArrayOfParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q13:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="CheckCodeResult" nillable="true" type="q14:ResponseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q15:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="SendCodeResult" nillable="true" type="q16:ResponseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q17:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="PayResult" nillable="true" type="q18:ResponseOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q19:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="ConfirmPaymentResult" nillable="true" type="q20:ResponseOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q21:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="GetTransactionInfoResult" nillable="true" type="q22:ResponseOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q23:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="GetBalanceResult" nillable="true" type="q24:ResponseOfArrayOfAccountBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q25:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="GetStatementResult" nillable="true" type="q26:ResponseOfArrayOfStatementEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q27:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="GetTransactionDetailsResult" nillable="true" type="q28:ResponseOfArrayOfTransactionParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q29:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="CancelTransactionResult" nillable="true" type="q30:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullTransactionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q31:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullTransactionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="GetFullTransactionInfoResult" nillable="true" type="q32:ResponseOfTransactionFull" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterParcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q33:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterParcelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="RegisterParcelResult" nillable="true" type="q34:ResponseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeteMoneyInfoByPrivateID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q35:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeteMoneyInfoByPrivateIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="GeteMoneyInfoByPrivateIDResult" nillable="true" type="q36:ResponseOfArrayOfParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareWithdrawFromeMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q37:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareWithdrawFromeMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="PrepareWithdrawFromeMoneyResult" nillable="true" type="q38:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawFromeMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q39:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawFromeMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="WithdrawFromeMoneyResult" nillable="true" type="q40:ResponseOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" minOccurs="0" name="request" nillable="true" type="q41:CreateInvoiceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="CreateInvoiceResult" nillable="true" type="q42:ResponseOfCreateInvoiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q43:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="GetInvoiceResult" nillable="true" type="q44:ResponseOfGetInvoiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" minOccurs="0" name="request" nillable="true" type="q45:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/LB.Shared" minOccurs="0" name="CancelInvoiceResult" nillable="true" type="q46:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>