eMoneyApi/Connected Services/EMoneyService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LB.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LB.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.emoney.ge/distributors/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
  <xs:import schemaLocation="https://api.emoney.ge/distributors/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ResponseOfArrayOfProviderGroup">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://schemas.datacontract.org/2004/07/LB.Shared" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfProviderGroup" Namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" minOccurs="0" name="Value" nillable="true" type="q1:ArrayOfProviderGroup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfArrayOfProviderGroup" nillable="true" type="tns:ResponseOfArrayOfProviderGroup" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="ExtraInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemCode" type="tns:SharedSystemCodes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:simpleType name="SharedSystemCodes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="GenericError">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Retry">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SharedSystemCodes" nillable="true" type="tns:SharedSystemCodes" />
  <xs:complexType name="ResponseOfArrayOfRates">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://schemas.datacontract.org/2004/07/LB.Shared" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRates" Namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" minOccurs="0" name="Value" nillable="true" type="q2:ArrayOfRates" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfArrayOfRates" nillable="true" type="tns:ResponseOfArrayOfRates" />
  <xs:complexType name="ResponseOfArrayOfProvider">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://schemas.datacontract.org/2004/07/LB.Shared" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfProvider" Namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" minOccurs="0" name="Value" nillable="true" type="q3:ArrayOfProvider" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfArrayOfProvider" nillable="true" type="tns:ResponseOfArrayOfProvider" />
  <xs:complexType name="ResponseOfServiceProperty">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://schemas.datacontract.org/2004/07/LB.Shared" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ServiceProperty" Namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" minOccurs="0" name="Value" nillable="true" type="q4:ServiceProperty" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfServiceProperty" nillable="true" type="tns:ResponseOfServiceProperty" />
  <xs:complexType name="ResponseOfArrayOfParameterReference">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://schemas.datacontract.org/2004/07/LB.Shared" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfParameterReference" Namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" minOccurs="0" name="Value" nillable="true" type="q5:ArrayOfParameterReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfArrayOfParameterReference" nillable="true" type="tns:ResponseOfArrayOfParameterReference" />
  <xs:complexType name="ResponseOfArrayOfParameter">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://schemas.datacontract.org/2004/07/LB.Shared" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfParameter" Namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" minOccurs="0" name="Value" nillable="true" type="q6:ArrayOfParameter" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfArrayOfParameter" nillable="true" type="tns:ResponseOfArrayOfParameter" />
  <xs:complexType name="ResponseOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://schemas.datacontract.org/2004/07/LB.Shared" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfstring" nillable="true" type="tns:ResponseOfstring" />
  <xs:complexType name="ResponseOfTransaction">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://schemas.datacontract.org/2004/07/LB.Shared" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Transaction" Namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" minOccurs="0" name="Value" nillable="true" type="q7:Transaction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfTransaction" nillable="true" type="tns:ResponseOfTransaction" />
  <xs:complexType name="ResponseOfArrayOfAccountBalance">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://schemas.datacontract.org/2004/07/LB.Shared" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfAccountBalance" Namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" minOccurs="0" name="Value" nillable="true" type="q8:ArrayOfAccountBalance" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfArrayOfAccountBalance" nillable="true" type="tns:ResponseOfArrayOfAccountBalance" />
  <xs:complexType name="ResponseOfArrayOfStatementEntry">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://schemas.datacontract.org/2004/07/LB.Shared" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfStatementEntry" Namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" minOccurs="0" name="Value" nillable="true" type="q9:ArrayOfStatementEntry" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfArrayOfStatementEntry" nillable="true" type="tns:ResponseOfArrayOfStatementEntry" />
  <xs:complexType name="ResponseOfArrayOfTransactionParameter">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://schemas.datacontract.org/2004/07/LB.Shared" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfTransactionParameter" Namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" minOccurs="0" name="Value" nillable="true" type="q10:ArrayOfTransactionParameter" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfArrayOfTransactionParameter" nillable="true" type="tns:ResponseOfArrayOfTransactionParameter" />
  <xs:complexType name="ResponseOfTransactionFull">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://schemas.datacontract.org/2004/07/LB.Shared" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TransactionFull" Namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" minOccurs="0" name="Value" nillable="true" type="q11:TransactionFull" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfTransactionFull" nillable="true" type="tns:ResponseOfTransactionFull" />
  <xs:complexType name="ResponseOfCreateInvoiceResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://schemas.datacontract.org/2004/07/LB.Shared" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CreateInvoiceResponse" Namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" minOccurs="0" name="Value" nillable="true" type="q12:CreateInvoiceResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfCreateInvoiceResponse" nillable="true" type="tns:ResponseOfCreateInvoiceResponse" />
  <xs:complexType name="ResponseOfGetInvoiceResponse">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://schemas.datacontract.org/2004/07/LB.Shared" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GetInvoiceResponse" Namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" minOccurs="0" name="Value" nillable="true" type="q13:GetInvoiceResponse" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfGetInvoiceResponse" nillable="true" type="tns:ResponseOfGetInvoiceResponse" />
</xs:schema>