eMoneyApi/Connected Services/EMoneyService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://api.emoney.ge/distributors/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="Distributor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmoneyDistributorService.Model" minOccurs="0" name="Parameters" nillable="true" type="q1:ArrayOfParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
</xs:schema>